@model ARPA20250324.AppWebMVC.Models.User

@{
    ViewData["Title"] = "Details";
}


<div>
    <h1 class="display-4 text-center" style="font-family:'Cambria Math'">Detalles de Usuario</h1>
    <h4 style="font-family:'Cambria Math'" class="text-secondary text-center">Usuarios</h4>
    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div class="col-md-6 shadow-lg rounded-3 p-4 bg-light">
            <dl class="row text-center">
                <dt class="col-sm-4 fw-bold text-end">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
            <dd class="col-sm-8 fw-normal text-start">
            @Html.DisplayFor(model => model.Username)
        </dd>
            <dt class="col-sm-4 fw-bold text-end">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
            <dd class="col-sm-8 fw-normal text-start">
            @Html.DisplayFor(model => model.Email)
       @*  </dd>
            <dt class="col-sm-4 fw-bold text-end">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
            <dd class="col-sm-8 fw-normal text-start">
            @Html.DisplayFor(model => model.Password)
        </dd> *@
            <dt class="col-sm-4 fw-bold text-end">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
            <dd class="col-sm-8 fw-normal text-start">
            @Html.DisplayFor(model => model.Role)
        </dd>
            <dt class="col-sm-4 fw-bold text-end">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
            <dd class="col-sm-8 fw-normal text-start">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>

            <div class="d-flex justify-content-center gap-2">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-sm">Editar</a>
            <a asp-action="Index" class="btn btn-dark">Volver</a>
        </div>
    </div>
</div>
</div>

