@model IEnumerable<ARPA20250324.AppWebMVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4" style="font-family:'Cambria Math'">Buscar productos</h1>
<form asp-action="Index">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input type="text" name="ProductName" class="form-control" />
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label class="control-label">Descripcion</label>
                <textarea name="Description" class="form-control"></textarea>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Bodegas</label>
                <select name="WarehouseId" class="form-control" asp-items="ViewBag.WarehouseId"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Marcas</label>
                <select name="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Cant. Registros</label>
                <select name="topRegistro" class="form-control">
                    <option selected value="10">10</option>
                    <option value="20">20</option>
                    <option value="60">60</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="0">Todos</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input type="submit" value="Buscar" class="btn btn-secondary btn-sm" />
            <a class="btn btn-dark btn-sm" asp-action="Create">Ir a crear</a>
        </div>
    </div>
</form>
<hr />
<table class="table table-striped table-bordered table-hover" id="myTable">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.Id)
            </td>
                <td class="d-flex">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm me-2">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-sm me-2">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm ">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function() {

             $('#myTable').DataTable({
               "language":languageTable
             });
        });
    </script>
}